{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Orders</title>
    <link rel="stylesheet" href="{% static 'css/my_orders.css' %}">
</head>
<body>

<div class="orders-container">

    <h1>My Orders</h1>

    {% if orders %}
        <div class="orders-list">

            {% for order in orders %}
            <div class="order-card">

                <div class="order-image">
                    <img src="{{ order.cloth.image.url }}" alt="{{ order.cloth.name }}">
                </div>

                <div class="order-details">
                    <h2>{{ order.cloth.name }}</h2>

                    <p><strong>Category:</strong> {{ order.cloth.category.name }}</p>
                    <p><strong>Price:</strong> ₹{{ order.cloth.price }}</p>
                    <p><strong>Quantity:</strong> {{ order.quantity }}</p>

                    <p class="total">  
                    <strong>Total:</strong> ₹{{ order.total_price }}
                    </p>

                    <p><strong>Delivery Address:</strong> {{ order.address }}</p>
                    <p><strong>Ordered On:</strong> {{ order.created_at }}</p>

                </div>

            </div>
            {% endfor %}

        </div>
    {% else %}
        <div class="no-orders">
            <p>You have not booked any cloth yet.</p>
            <a href="{% url 'user_dashboard' %}" class="shop-btn">Go Shopping</a>
        </div>
    {% endif %}

</div>

</body>
</html>